In [7]:
import pandas as pd
from sklearn import linear_model
from sklearn import ensemble
from sklearn.cross_validation import train_test_split
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import SelectFromModel

In [8]:
df_one = pd.DataFrame.from_csv('Combined_News_DJIA.csv')
df_two = pd.DataFrame.from_csv('DJIA_table.csv')
df_three = pd.DataFrame.from_csv('RedditNews.csv')

In [9]:
df_two.head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234

In [10]:
df4 = df_two.join(df_one)

In [11]:
df_three.head()

                                                         News
Date
2016-07-01  A 117-year-old woman in Mexico City finally re...
2016-07-01   IMF chief backs Athens as permanent Olympic host
2016-07-01  The president of France says if Brexit won, so...
2016-07-01  British Man Who Must Give Police 24 Hours' Not...
2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [15]:
vectorizer = TfidfVectorizer()

In [16]:
#Turn the News into a vector
vectorizer.fit(df_three['News'],y=y)

TfidfVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm=u'l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern=u'(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [45]:
#Apply vector to the the other the top news story
x = df_two.drop(['Close','Adj Close'],axis=1)
vector = vectorizer.transform(df_one['Top1'])
x = x.join(pd.DataFrame(vector.toarray()))
x = x.fillna(value=0)
y = df4['Adj Close']

In [57]:
df5 =df4.drop(['Top23','Top24','Top25','Close','Adj Close'],axis=1)

In [38]:
#test train split for x and y
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.2)

In [41]:
rf = ensemble.RandomForestRegressor(max_depth=3,max_features=28,random_state=0)

In [42]:
rf.fit(X=x_train, y=y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=3,
           max_features=28, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=0,
           verbose=0, warm_start=False)

In [43]:
rf.score(X=x_test,y=y_test)

0.97897315492622006

SelectKBest(k=12, score_func=<function f_regression at 0x1a172345f0>)

In [141]:
x= x.fillna(value=0)

In [46]:
x.head()

,Open,High,Low,Volume,0,1,2,3,4,5,...,40771,40772,40773,40774,40775,40776,40777,40778,40779,40780
Date,,,,,,,,,,,,,,,,,,,,,
2016-07-01 00:00:00,17924.240234,18002.380859,17916.910156,82160000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-06-30 00:00:00,17712.759766,17930.609375,17711.800781,133030000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-06-29 00:00:00,17456.019531,17704.509766,17456.019531,106380000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-06-28 00:00:00,17190.509766,17409.720703,17190.509766,112190000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-06-27 00:00:00,17355.210938,17355.210938,17063.080078,138740000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0